:root {
    --primary: #810000;
    --secondary: #24124f;
    --complement1: #EEEBDD;
    --complement2: #630000;


    --menu-height: 50px;
    --button-width: 128px;
    --menu-background: var(--primary);
    --button-border: black;
    --menu-text-color: rgb(0, 0, 0);
    --complement4: #810000;

    --light-gray: rgb(176, 176, 176);
    --dark-gray: rgb(45, 45, 45);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --red: rgb(206, 0, 0);

    --spacing: 32px;
}

html,
body {
    scroll-behavior: smooth;
    background-color: var(--complement1);
}

html {
    font-size: large;
    text-align: justify;

    font-family: 'Rubik', sans-serif;

    transition: .5s font-size;
}

body {
    background-color: var(--complement1);
    color: var(--black);

    margin: 0;
    padding: 0;
}

/* Default styles */

/* nav {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background-color: var(--menu-background);
    height: var(--menu-height);
    position: sticky;
    top: 0;
    z-index: 1;
}

ul.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.menu>li {
    position: relative;
    margin-right: 20px;
}

ul.menu>li a {
    display: inline-block;
    padding: 1px 15px;
    color: var(--menu-text-color);
    text-decoration: none;
}

ul.menu>li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: var(--black);
    opacity: 0;
    transform: translateY(0);
    transition: all 0.3s;
}

ul.menu>li:hover::after {
    opacity: 1;
    transform: translateY(25px);
}

ul.menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--menu-background);
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul.menu li:hover>ul {
    display: flex;
    flex-direction: column;
}

ul.menu ul li {
    margin: 0;
    padding: 0;
    width: 100%;
    transition: background-color 0.3s;
}

ul.menu ul li a {
    display: block;
    padding: 10px;
    color: var(--menu-text-color);
    text-decoration: none;
}

ul.menu ul li:hover {
    background-color: var(--complement2);
}



@media screen and (max-width: 768px) {
    ul.menu {
        display: none;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        height: 2px;
        background-color: var(--black);
        margin-bottom: 5px;
        transition: transform 0.3s;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
    }

    ul.menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--menu-background);
        padding: 10px;
        margin: 0;
        list-style-type: none;
    }

    ul.menu.active li {
        margin: 5px 0;
        padding: 0;
        width: 100%;
    }

    ul.menu.active li a {
        display: block;
        padding: 10px;
        color: var(--menu-text-color);
        text-decoration: none;
    }
} */




/* .disnone {
    display: none;
} */

/* #outer {
    position: fixed;
    border: 5px solid var(--complement3);
    border-radius: 100%;
    border-top: 0;
    border-bottom: 0;
    width: 75px;
    height: 75px;
    bottom: 0;
    right: 0;
}

#inner {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgba(36, 18, 79, 0.7);
    margin: auto;
    margin-top: 30%;
    transition: all 0.3s linear;
}

#outer:hover #inner {
    border-bottom: 20px solid var(--complement1);
    transform: translateY(-10px);
} */

#menulogo,
#ch-menu {
    display: none;
}

#back-to-top {
    color: var(--text-black);
    text-decoration: none;
}

/* #inner::before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    bottom: -40px;
    transform: translateX(-45%);
    border-radius: 3px;
    background-color: black;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    width: 80px;
}

#inner:hover::before {
    display: block;
} */

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#square {
    width: 50px;
    height: 50px;
    background-color: #333;
    transition: background-color 500ms;
    transform: rotate(45deg);
    position: absolute;
}

#scroll-to-top:hover #square {
    background-color: #555;
}

#triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 40px 20px;
    /* modificam valorile pentru a face marginile mai late si pentru a adauga inaltimea */
    border-color: transparent transparent #fff transparent;
    border-radius: 50%;
    /* setam un radius mai mare pentru a rotunji marginile */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#scroll-to-top:hover #triangle {
    border-color: transparent transparent #555 transparent;
}

.watermark {
    display: none;
}

.table-container {
    overflow-x: auto;
    white-space: nowrap;
    /* adăugați un scrollbar orizontal pe containerul tabelului */
}

table {
    border: 5px inset gray;
    /* un border inset cu grosime de minim 5px */
    border-collapse: collapse;
    /* unificați borderul între celule */
    width: 100%;
}

th,
td {
    border: 1px solid #ccc;
    /* dimensiunea borderului dintre celule va fi de 1px */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    /* culoarea fundalului pentru celulele de antet */
}

tr:hover {
    transition: outline 0.5s ease-in-out;
    outline: 5px solid rgba(0, 0, 0, 0.7);
}

thead th {
    background-color: #ddd;
    /* culoarea fundalului pentru celulele de antet */
}

tbody tr:nth-child(even) td {
    background-color: #f2f2f2;
    /* culoarea fundalului pentru celulele pare */
}

tbody tr:nth-child(odd) td {
    background-color: #fff;
    /* culoarea fundalului pentru celulele impare */
}


h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

h3 {
    color: var(--red);
}

header {
    background-color: var(--white);
    color: var(--red);

    position: relative;
}

footer {
    background-color: var(--black);
    color: var(--light-gray);
}

footer a:link,
footer a:visited {
    color: var(--light-gray);
}

footer a:hover,
footer a:active {
    color: var(--white);
}

footer iframe {
    padding: var(--spacing);
}



#prezentare {
    grid-area: prezentare;
}

#tabel {
    grid-area: tabel;
}

#calendar {
    grid-area: calendar;
}

#utilizatori {
    grid-area: utilizatori;
}

#statistici {
    grid-area: statistici;
}

#server {
    grid-area: server;
}

#diverse {
    grid-area: diverse;
}


body {}

h1 {
    font-size: 2.125rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.625rem;
}

p {
    font-size: 1.125rem;
}


main {
    padding: 0 var(--spacing);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "prezentare  prezentare prezentare prezentare"
        "tabel       tabel      calendar   calendar"
        "utilizatori statistici statistici server"
        "diverse     diverse    diverse    diverse";
    gap: var(--spacing);
}

/* ecrane mici */
@media screen and (max-width: 767px) {
    :root {
        --spacing: 16px;
        --button-width: 64px;
    }

    body {
        font-size: small;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "prezentare"
            "tabel"
            "calendar"
            "utilizatori"
            "statistici"
            "server"
            "diverse";
    }
}

/* ecrane medii */
@media screen and (min-width: 768px) and (max-width: 991px) {
    :root {
        --spacing: 24px;
        --button-width: 96px;
    }

    body {
        font-size: medium;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "prezentare  prezentare"
            "tabel       tabel"
            "calendar    calendar"
            "utilizatori statistici"
            "server      server"
            "diverse     diverse";
    }
}

section {
    border: 1px solid black;
    border-radius: 8px;

    padding: var(--spacing);
}




.container-iframe {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;

    position: relative;
}

.container-iframe iframe {
    border: 4px solid var(--primary);

    width: 100%;

    margin: 0;
    padding: 0;
}

.container-iframe .taburi-iframe {
    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0;
}

.container-iframe .taburi-iframe a {
    display: block;
    border: 4px solid var(--primary);
    border-top: none;

    background-color: var(--complement1);

    width: var(--button-width);
    height: 48px;
    text-align: center;

    margin: 0 4px;
    margin-top: -4px;
    border-radius: 0 0 8px 8px;
    box-shadow: inset 0 0 4px black;

    text-decoration: none;
    font-weight: bold;
    color: var(--primary);

    transition: background .5s, box-shadow .5s;
}

.container-iframe .taburi-iframe a:hover {
    background-color: white;

    box-shadow: inset 0 0 1px black;
}

/* Stilul pentru printare */

@media print {

    /* Banner */
    .banner {
        /* 1 */
        position: absolute;
        bottom: 0;
        left: 15%;
        width: 70%;
        text-align: center;
        border: 4px inset black;
    }

    /* Ascunderea elementelor media */
    img,
    video,
    iframe,
    .container-iframe,
    .scroll-to-top,
    #footer-top {
        display: none !important;
    }

    /* Grid ca block */
    main {
        display: block !important;
    }

    main section {
        break-inside: avoid;
    }

    /* Linkuri ca text normal */
    a {
        text-decoration: none !important;
        color: inherit !important;
    }

    /* Heading nivel 1, meniu și page breaks */
    h1 {
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        display: block;
        page-break-after: always;
    }

    nav li {
        display: block;
    }

    footer {
        page-break-before: always;
    }

    /* Watermark */
    .watermark {
        display: block;
        position: fixed;
        bottom: 1cm;
        right: 1cm;
        width: 4cm;
        height: 1cm;
        text-align: center;
        font-weight: bold;
        border: 3px solid black;
        border-radius: 5px;
        opacity: 0.4;
        font-size: small;
    }

    /* Margini pagini */
    @page :left {
        margin-left: 3cm;
        margin-right: 1cm;
    }

    @page :right {
        margin-left: 1cm;
        margin-right: 3cm;
    }
}