/* Linkurile vizitate vor avea o culoare diferită de cea implicită */
a:visited {
    color: #8B008B; /* sau altă culoare la alegere */
  }
  
  /* Linkurile externe vor avea un simbol în fața lor */
  a[href^="http"]::before {
    content: "\2B73";
    font-size: 1.5em;
    margin-right: 0.25em;
  }
  
  /* Simbolul va avea o culoare diferită la hover */
  a[href^="http"]:hover::before {
    color: #FFA500; /* sau altă culoare la alegere */
  }
  
  /* Linkurile din conținut vor avea o pata de culoare la hover */
  /* main a {
    
    transform: translate(-50%, -50%);
    background-image: radial-gradient(circle, #e87adb 0%, #c185c1 40%, transparent 80%, transparent 100%);
    background-size: 0%;
    
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-out;
    padding: 3px;
    
  }
  
  main a:hover {
    
    background-size: 100%;
  } */
  
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    width: 100%;
  }
  
  #menu-toggle:checked ~ .menu {
    display: block;
  }
  
  .menu li {
    display: block;
    margin: 10px 0;
  }
  
  .menu a {
    color: #333;
    text-decoration: none;
  }
  
  .menu-icon {
    display: block;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
  }
  