<nav>
    <label for="menu-toggle">
      <div class="logo">
        <img src="./resources/favicon/favicon-16x16.png" alt="" width="24" height="24">
      </div>
    </label>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <ul class="menu">
      <li><a href="#Home">Home</a></li>
      <li><a href="#Store">Store</a>
      <li><a href="Community">Community</a></li>
      <li>
        <a href="">About Us</a>
        <ul>
          <li class="dropdown"><a href="#ContactInfo">Contact info</a></li>
          <li class="dropdown"><a href="#Details">Details</a></li>
        </ul>
      </li>
    </ul>
  </nav>